h2 {
    border-top: 2px solid lightslategray;
}
th, td {
    padding-right: 1em;
}
th {
    text-align: left;
}
mtd {
    text-align: left;
}
.center-aligned {
    text-align: center;
}
.proposition, .lemma, .corollary, .proof, .example, .description {
    padding: 0 1.5em;
}
.summary, .definition, .theorem {
    margin: 2px 0;
    padding: 0.2em 1.5em;
}
.summary, .definition, .theorem {
    background-color: lightgrey;
    border-radius: 10px;
}
