h1 {
  border-top: 2px solid lightslategray;
}
table {
  margin-left: auto;
  margin-right: auto;
}
th, td {
  padding-right: 1em;
  vertical-align: text-bottom;
}
th {
  text-align: left;
}
mtd {
  text-align: left;
}
.center-aligned {
  text-align: center;
}
.proposition, .lemma, .corollary, .proof, .example, .description {
  padding: 0 1.5em;
}
.summary, .definition, .theorem {
  margin: 2px 0;
  padding: 0.2em 1.5em;
  background-color: lightgrey;
  border-radius: 10px;
}
