body {
    background-color: #303030;
    color: LightGray;
}

.summary {
    background-color: #404040;
}

a:link {
    color: CornflowerBlue;
}

a:visited {
    color: MediumOrchid;
}

strong {
    color: OrangeRed;
}

em {
    color: LimeGreen;
}

code {
    color: DarkOrange;
}
